/* Common Shared Styles */

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;   
}
.btn-primary{
    width: 150px;
    height: 64px;
    left: 1220px;
    top: 50px;
    color: white;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    padding: 15px 35px;
}

/* Nav related css */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-primary{
    color: #FD6E0A;
}

/* Nav Title Mary */
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;

}
nav a{
    text-decoration: none;
    color: ;
}